.item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}


.item-aut {
  font-family: Arial, Helvetica, sans-serif;
  color: #00497a;
  font-weight: 700;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 250px;
  background-color: white;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 10px;
}

.em-manutencao {
  background-color: rgb(187, 100, 100);
  border: 2px solid red;
  width: auto;
}

.report-contabil {
  background-color: white;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  border-color: red;
  border-style: outset;
  border-width: 1px;
  grid-column: span 2;
  height: 200px;
  position: relative;
  
}

.hubcount-bi {
  grid-column: span 2;
  
}

.lalur {
  grid-column: span 1;
}

.report-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #00497a;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  margin-left: -120px;
  width: 100%;
  
}

.top-right-icons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 8px; 
  z-index: 10;
}