body {
    background-color: rgb(225, 228, 233)
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.hidden-popup {
    display: none;
}

.hidden-modulos {
    display: none !important;
}

#mensagem {
    font-family: sans-serif, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #565a6292;
    font-weight: 300;
    font-size: 24px;

}

#coluna {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.automacao-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    font-weight: 700;
    font-size: 16px;
}

.relatorio-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    font-weight: 700;
    font-size: 16px;
}

#automacao {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}

#relatorio {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}

#report-container {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}

.item {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.hubcountbi-card {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    grid-column: span 2;
    position: relative;
}

.bidafolha-card {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.hubconcilia-card {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.lalur-card {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    grid-column: span 1;
    position: relative;
}

.report-card {
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    border-style: outset;
    border-width: 1px;
    box-sizing: border-box;
    grid-column: span 2;
    height: 200px;
    position: relative;
}

.report-message {
    font-family: Arial, Helvetica, sans-serif;
    color: #00497A;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    margin-top: 40px;
    margin-left: 20px;

}

.imagens {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 10px;
}

.ajuda {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 18px;
    height: 18px;
}

.texto {
    margin: 0;
    color: red;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin-left: 150px;
    margin-top: 30px;

}

.em-manutencao {
    background-color: rgb(187, 100, 100);
    border: 2px solid red;
}


@media (max-width: 768px) {

    #automacao {
        display: grid;
        grid-template-columns: repeat(2, 210px);
        gap: 10px;
    }

    #relatorio {
        display: grid;
        grid-template-columns: repeat(2, 210px);
        gap: 10px;
    }

    #coluna {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #report-container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 20px;
    }

    .texto {
        margin: 0;
        color: red;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        margin-left: 100px;
        margin-top: 30px;
    }

    /* #relatorio {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 200px));
        gap: 20px;
    } */

}