.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.message-modal {
  font-family: sans-serif, system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #00497a;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 20px;
}

.button-modal {
  color: #00497a;
  font-family: sans-serif, system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  background-color: rgb(225, 228, 233);
  border-color: black;
  border-width: 0.5px;
  margin-top: 8px;
}

.input-modal {
    border-width: 0.5px;
    align-items: start;
    
}