.welcome-user {
  font-family: sans-serif, system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #565a6292;
  font-weight: 300;
  font-size: 24px;
  text-align: left;
}